footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px auto;
}
.tocItem:hover {
  color: rgb(0, 131, 120);
}
.active {
  color: rgb(0, 131, 120);
}
main {
  font-family: inherit;
  min-height: calc(100vh - 120px);
}

ul,
li {
  list-style-type: none;
}

.TOC {
  text-shadow: -0.01em -0.01em 0.01em #000;
}
